.footer {
   padding-top: 100px;

   background-color: $whitemilk;

   position: relative;

   @media (max-width: 847px) {
      padding-top: 50px;
   }

   &__container {
      display: flex;
      justify-content: space-between;
      gap: 40px;

      @media (max-width: 910px) {
         gap: 30px;
      }

      @media (max-width: 570px) {
         flex-direction: column;
      }
   }

   &__title {
      font-family: $second-family;
      font-weight: 400;
      font-size: 24px;

      margin-bottom: 30px;
   }

   &__links {
      display: flex;
      justify-content: space-between;
      flex-grow: 2;

      font-family: $first-family;
      font-weight: 300;
      font-size: 16px;

      @media (max-width: 847px) {
         flex-grow: 0;
         gap: 52px;
      }

      @media (max-width: 570px) {
         justify-content: start;
         gap: 133px;
      }

      @media (max-width: 440px) {
         gap: 73px;
      }

      &-products {
         display: flex;
         flex-direction: column;
         gap: 20px;
      }

      &-company {
         display: flex;
         flex-direction: column;
         gap: 20px;
      }
   }

   &__copy {
      margin-top: auto;
      margin-bottom: 20px;

      @media (max-width:1000px) {
         margin-bottom: 10px;
      }

      @media (max-width: 570px) {
         position: absolute;
         bottom: 0;
         left: 10px;
      }
   }

   &__pay {
      margin-top: 100px;
      margin-bottom: 20px;

      display: flex;
      justify-content: space-between;
      gap: 20px;

      img {
         object-fit: none;
      }

      @media (max-width: 1000px) {
         margin-top: 55px;
         margin-bottom: 10px;
      }

      @media (max-width: 847px) {
         margin-top: auto;
      }

      @media (max-width: 570px) {
         position: absolute;
         bottom: 0;
         left: 166px;
      }
   }

   &__quote {
      width: 269px;
      margin-left: 155px;
      margin-top: 78px;

      @media (max-width: 1150px) {
         margin-left: 50px;
      }

      @media (max-width: 1000px) {
         margin-right: 0;
         margin-top: 0;
      }

      @media (max-width: 999px) {
         margin-left: 0px;
      }

      @media (max-width: 570px) {
         width: auto;
      }

      display: flex;
      flex-direction: column;
      gap: 20px;

      &-text {
         font-family: $first-family;
         font-style: italic;
         font-weight: 300;
         font-size: 16px;
      }

      &-autor {
         width: 129px;

         font-family: $first-family;
         font-weight: 300;
         font-size: 12px;

         @media (max-width: 570px) {
            width: auto;
         }
      }
   }

   &__comment {
      display: flex;
      flex-direction: column;
      gap: 20px;

      &-text {
         font-family: $first-family;
         font-weight: 300;
         font-size: 13px;
      }

      &-title {
         @media (max-width: 570px) {
            margin-bottom: 0;
         }
      }
   }

   &__right-part {
      max-width: 270px;

      display: flex;
      flex-direction: column;
      gap: 20px;

      @media (max-width: 570px) {
         max-width: none;

         text-align: center;
      }
   }

   &__about {
      display: flex;
      justify-content: space-between;
      gap: 40px;

      @media (max-width: 570px) {
         justify-content: center;
      }
   }

   &__contact {
      display: flex;
      flex-direction: column;
      gap: 50px;

      &-connection {
         display: flex;
         flex-direction: column;
         gap: 20px;

         margin-top: 20px;

         @media (max-width: 570px) {
            flex-direction: row;
         }

         @media (max-width: 440px) {
            flex-direction: column;
         }

         &-wrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;
         }

         &-phone {
            padding-left: 30px;
            background: url(../../assets/icon/footer/phone.svg) no-repeat;
            background-position: left;
         }

         &-mail {
            padding-left: 30px;
            background: url(../../assets/icon/footer/mail.svg) no-repeat;
            background-position: left;
         }
      }

      &-social {
         display: flex;
         justify-content: space-between;
         align-items: center;
         gap: 20px;

         margin-top: 20px;

         @media (max-width: 847px) {
            margin-bottom: 105px;
         }
      }
   }

   &__right-part-wrapper {
      display: flex;

      @media (max-width: 910px) {
         gap: 20px;
      }

      @media (max-width: 847px) {
         flex-direction: column;
      }

      @media (max-width: 440px) {
         gap: 40px;
      }
   }
}
